<Configuration>
  <Add SourcePath="C:\AnsiWEB\OfficeSource" OfficeClientEdition="{{ office.edition }}" Channel="{{ office.channel }}">
    <Product ID="{{ office.product_id }}">
      <Language ID="{{ office.language }}" />
    </Product>
  </Add>
</Configuration>
